h1 {
  text-align: center;
  color: whitesmoke;
  background-color: #0961488a;
  margin: 0;
  padding: 20px 0;
}

.time {
  font-size: larger;
  color: #3c193cbf;
  font-weight: bold;
  text-align: center;
}

body {
  background-color: #efefef;
  padding-top: 0;
}

#game {
  display: flex;
}

canvas {
  margin: auto;
}

a:hover {
  color: #fb98fbbf;
}

.foot {
  font-style: italic;
  font-size: small;
  text-align: center;
}

.box {
  text-align: center;
  margin: 10px auto;
  padding: 0 20px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: #0961484f;
  font-weight: bold;
  color: white;
}

#背景 {
  color: rgb(255, 127, 127);
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;

  /* opacity: 0.5; */
}

.icon {
  vertical-align: middle;
  height: 20px;
  border: 1px solid white;
}

table th {
  color: #3c193cbf;
  font-size: large;
}

table th:not(:first-child):hover {
  color: #fb98fbbf;
}

table tbody tr td:nth-child(odd) {
  color: rgba(208, 105, 105, 0.752);
}

table tbody tr td:nth-child(even) {
  color: rgba(255, 213, 213, 0.861);
}

caption {
  color: #583b58a4;
  font-size: x-large;
}
