h1 {
  text-align: center;
  color: whitesmoke;
  background-color: #096148b9;
  margin: 0;
  padding: 20px 0;
}

.time {
  font-size: larger;
  color: #fb98fbbf;
  font-weight: bold;
  text-align: center;
}

body {
  background-color: #efefef;
  padding-top: 0;
}

#game {
  display: flex;
}

canvas {
  margin: auto;
}

a:hover {
  color: #fb98fbbf;
}

.foot {
  font-style: italic;
  font-size: small;
}

#背景 {
  color: rgb(255, 127, 127);
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;

  /* opacity: 0.5; */
}
